* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Outfit;
  src: url(Outfit-VariableFont_wght.ttf);
}

body {
  font-family: Outfit;
  font-size: 0.9375em;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

article.flex {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 315px;
  padding: 18px;
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}

h1.bold {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  padding: 10px 0 10px 0;
  font-size: 1.5em;
}

p.light {
  color: hsl(220, 15%, 55%);
  padding: 10px;
  padding-bottom: 25px;
}

img {
  border-radius: 12px !important;
  margin-bottom: 10px;
}
